@import 'src/styles/mixin';
@import 'src/styles/variables';

.number {
  @include font-bold(22px);

  display: flex;
  align-items: flex-end;
  align-self: flex-start;
  justify-content: flex-start;

  &_increased {
    color: $color-increased;
  }

  &_decreased {
    color: $color-decreased;
  }

  &_font {
    &-big {
      font-size: 32px;
    }

    &-small {
      font-size: 16px;
    }
  }

  &__difference {
    @include font-normal(14px, $fc: inherit);

    margin-left: 10px;
    line-height: 22px;
  }
}
