.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('../../assets/img/john-towner-JgOeRuGD_Y4.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
}
